{% extends "site_base.html" %}

{% load i18n %}
{% load humanize %}

{% block head_title %}Now this is cool{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block calendar_head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.item_add').click(function() {
                $(this).siblings('.item_form').slideToggle();
            });
            $('.due_date_picker').datepicker({defaultDate: new Date(2010, 12 - 0, 31),});
            
            
            // $('#calendar').fullCalendar({
            //      
            //  editable: true,
            //  events: "/ajax/?method=list",
            //  eventDrop: function(event, delta) {
            //      alert(event.title + ' was moved ' + delta + ' days\n' +
            //          '(should probably update your database)');
            //  },
            // });
        });
    </script>
{% endblock %}


{% block body %}

<div class="grid_8">
    <div id='loading' style='display: none'>loading...</div>
    <div id='calendars'>
        
        <div id='calendar'></div>
    </div>
</div>

<div class="grid_4">
    <h1>Open items</h1>
    <ul>
        {% for item in items %}
            <li>
                <strong>
                    <a href="{% url todo-task_detail item.id %}" target="_blank">{{ item.title }}</a>
                </strong> - {{ item.due_date|naturalday }}
                <a href="#" class="item_add_{{ item.id }} item_add">(add event)</a>

                <form action="{% url todo-attach_event item.id %}?redirect=/" method="post" 
                      accept-charset="utf-8" 
                      style="display: none;"  class="item_form">
                    {{ item_event_form.as_p }}
                    <p><input type="submit" value="Add"></p>
                </form>

                {% if item.event_set.count %}
                    <ul>
                    {% for event in item.event_set.all %}
                            <li>{{ event.title }} - {{ event.start|naturalday }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
            
        {% endfor %}
    </ul>
    <div id='datepicker'></div>
</div>
{% endblock %}
