{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
        
        <script type='text/javascript' src="/site_media/js/jquery.js"></script>
        <script type='text/javascript' src="/site_media/js/jquery-ui.js"></script>
        <script type='text/javascript' src="/site_media/js/jquery.url.js"></script>
        
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui.css" type="text/css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/grid.css" />

        <link rel='stylesheet' type='text/css' href='/site_media/js/fullcalendar/fullcalendar.css' />
        <script type='text/javascript' src='/site_media/js/fullcalendar/fullcalendar.min.js'></script>
        <script type='text/javascript' src='/site_media/js/fullcalendar/custom.js'></script>


        {% block extra_head %}
        {% endblock %}

        

		{% block fc_json %}
		{% endblock %}
		
		{% block extrahead %}{% endblock %}


        {% block calendar_head %}{% endblock %}
    </head>

    <body class="container_12 navbar">
        <p>Welcome {{ request.user.username }} | <a href="/">Calendar</a> | Effort tracker | Dashboard | <a href="/plugins/">Plugins</a> | Settings | Logout</p>
    </body>

    <body class="container_12">
            {% block body %}
            {% endblock %}
            
            {% block content %}
            {% endblock %}
        <div id="footer">{% block footer %}{% endblock %}</div>

    </body>
</html>
