{% extends "site_base.html" %}

{% load i18n %}
{% load humanize %}

{% block head_title %}Now this is cool{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block calendar_head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.item_add').click(function() {
                $(this).siblings('.item_form').slideToggle();
            });
            $('.due_date_picker').datepicker({defaultDate: new Date(2010, 12 - 0, 31),});
            
            
             /* initialize the external events
            -----------------------------------------------------------------*/
            $('.external-event').each(function() {
        
                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim($(this).text()) // use the element's text as the event title
                };
            
                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject);
            
                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });
            });
            
        });
    </script>
    
    <style type="text/css" media="screen">
        #external-events {
            float: left;
            width: 150px;
            padding: 0 10px;
            border: 1px solid #ccc;
            background: #eee;
            text-align: left;
            }

        .external-event { /* try to mimick the look of a real event */
            margin: 10px 0;
            padding: 2px 4px;
            background: #3366CC;
            color: #fff;
            font-size: .85em;
            cursor: pointer;
            }

        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            color: #666;
            }

    </style>
{% endblock %}


{% block body %}

<div class="grid_8">
    <div id='loading' style='display: none'>loading...</div>
    <div id='calendars'>
        
        <div id='calendar'></div>
    </div>
</div>

<div class="grid_4 external-events">
    <h1>Open items</h1>
        {% for item in items %}
                <p><strong class="external-event" id="item-{{ item.id }}">{{ item.title }}</strong>
                    - <a href="{% url todo-task_detail item.id %}" target="_blank">due {{ item.due_date|naturalday }}</a>
                </p>
        {% endfor %}
    <div id='datepicker'></div>
</div>
{% endblock %}
